#navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons bookmark_border
        | Bookworm
      .nav-items.clearfix

      if currentUser
        div
          img.avatar.img-circle.hidden-xs-down(src='/img/avatar.png', alt='avatar')
          a.btn.btn-light.pull-md-right(href='/logout') Log Out
      else
        a.btn.btn-info.pull-md-right(href='login') Login

